.admin{
  height: 100vh;
}
.icon{
  width: 20px;
  height: 20px;
}
.admin-option{
  width: 100%;
  text-decoration: none;
  color: white;
}
.active{
  background-color: rgba(0, 0, 0, 0.315);
}
.admin-option:hover{
  color: white;
  background-color: rgba(0, 0, 0, 0.315);
}